.item-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary);
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
    border-radius: 44px;
    > p{
        margin: 2%;
    }
    > img{
        max-width: 200px;
    }
}

.item-card-btn{
    font-size: medium;
    align-self: center;
}

.item-name{
    align-self: center;
    font-weight:400;
    text-decoration: underline;
    color: black;
}
