.producer-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary);
    border: 2px solid black;
    max-width: 200px;
    padding: 20px;
    gap: 0;
    border-radius: 44px;
    text-wrap: auto;
    > img{
        max-width: 200px;
    }
}

.producer-card-btn{
    font-size: medium;
}

.producer-name{
    align-self: center;
    font-weight:500;
}