
.page-cont{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 8px;
}


.green-cont{
    background-color: var(--accent);
    border-radius: 30px;
    padding: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

